

#linkss{
    width: 300px;
    margin-left: auto;
    
    padding: 20px;
}
#linkss a{
    color: black;
    padding-left:10px; 
}
.btn{
    margin-left: 9px;
}

.formm{
    width:40%;
    border-radius:50px;
    margin: 0 auto;
    position: relative;
    top: 150px;
}
.picc{
    padding-bottom: 10px;
    padding-left: 120px ;
}
.cal{
    padding-left: 60px;
}
input{
    border: 1px solid;
    border-radius: 30px;
}